@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Welcome</h3>
<ol class="round">
    <li class="one">
      To get to the Donation list please click 
        <a href="~/Donation/Index">Donor List</a>
    </li>

   

</ol>
